<div>
  <div class="scrambled">
    Scrambled Word
    <ul class="word">
      <li class="letter" ng-repeat="letter in scrambled track by $index">
        {{letter}}
      </li>
    </ul>
  </div>
  
  <div ng-class="{correct: correct}" class="guess">
    Your Guess
    <ul class="non-mobile">
      <li class="letter" ng-repeat="letter in guess track by $index">
        {{letter}}
      </li>
    </ul>
    
    <input type="text"
           class="mobile"
           ng-model="mobileGuess"
           ng-model-options="{ getterSetter: true }">
  </div>
  
  <div>
    <label>Min
      <input type="number" ng-model="min">
    </label>
    <label>Max
      <input type="number" ng-model="max">
    </label>
    
    <button ng-click="newRandomWord()">New Word</button>
  </div>
</div>