<div class="container">
  <h1 class="text-center">Word Scramble</h1>
  
  <div class="scrambled">
   <h2>Scrambled Word</h2>
    <ul class="word">
      <li class="letter" ng-repeat="letter in scrambled track by $index">
        {{letter}}
      </li>
    </ul>
  </div>
  
  <div ng-class="{correct: correct}" class="guess">
    <h2>Your Guess</h2>
    <div class="non-mobile">
      <ul class="word" ng-hide="guess.length === 0">
        <li class="letter" ng-repeat="letter in guess track by $index">
          {{letter}}
        </li>
      </ul>
      <span ng-show="guess.length === 0">Type your guess</span>
    </div>
    <input type="text"
           class="mobile"
           ng-model="mobileGuess"
           ng-model-options="{ getterSetter: true }"
           autocomplete="off"
           autocorrect="off"
           autocapitalize="off"
           placeholder="Enter your guess">
  </div>
  
  <div>
    <h2 class="text-center">Word Length</h2>
    <div class="clearfix length">
      <div class="left">
        <label for="min">Min</label>
        <input id="min" type="number" ng-model="min">
      </div>
      <div class="right ">
        <label for="max">Max</label>
        <input id="max" type="number" ng-model="max">
      </div>
    </div>
    
    <button class="btn" ng-click="newRandomWord()">New Word</button>
  </div>
</div>
